In [1]:
import pandas as pd
from StudentPlacementMetadata import StudentPlacementMetadata
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

In [2]:
dataset = pd.read_csv("Student_Placement_Original.csv")

In [3]:
dataset

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Internship_Experience_Yes,Placement_Yes
0,29,107.0,6.61,6.28,8,8,8,4,0,0
1,60,97.0,5.52,5.37,8,7,8,0,0,0
2,35,109.0,5.36,5.83,9,3,1,1,0,0
3,54,122.0,5.47,5.75,6,1,6,1,1,0
4,3,96.0,7.91,7.69,7,8,10,2,0,0
...,...,...,...,...,...,...,...,...,...,...
9995,20,119.0,8.41,8.29,4,1,8,0,0,1
9996,97,70.0,9.25,9.34,7,0,7,2,0,0
9997,65,89.0,6.08,6.25,3,3,9,5,1,0
9998,44,107.0,8.77,8.92,3,7,5,1,0,0
9999,59,109.0,9.41,9.77,8,3,5,5,0,0

In [4]:
dataset.isnull().sum()

College_ID                   0
IQ                           0
Prev_Sem_Result              0
CGPA                         0
Academic_Performance         0
Extra_Curricular_Score       0
Communication_Skills         0
Projects_Completed           0
Internship_Experience_Yes    0
Placement_Yes                0
dtype: int64

In [5]:
dataset.dtypes

College_ID                     int64
IQ                           float64
Prev_Sem_Result              float64
CGPA                         float64
Academic_Performance           int64
Extra_Curricular_Score         int64
Communication_Skills           int64
Projects_Completed             int64
Internship_Experience_Yes      int64
Placement_Yes                  int64
dtype: object

In [6]:
def selectkbest(indep_X,dep_Y,n):
        test = SelectKBest(score_func=chi2, k=n)
        fit1= test.fit(indep_X,dep_Y)
        selected_columns_mask = fit1.get_support()
        selected_columns = indep_X.columns[selected_columns_mask]
        selectk_features = fit1.transform(indep_X)
        return selectk_features, selected_columns
    
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
    
 
def cm_prediction(classifier,X_test):
     y_pred = classifier.predict(X_test)
        
        # Making the Confusion Matrix
     from sklearn.metrics import confusion_matrix
     cm = confusion_matrix(y_test, y_pred)
        
     from sklearn.metrics import accuracy_score 
     from sklearn.metrics import classification_report 
        #from sklearn.metrics import confusion_matrix
        #cm = confusion_matrix(y_test, y_pred)
        
     Accuracy=accuracy_score(y_test, y_pred )
        
     report=classification_report(y_test, y_pred)
     return  classifier,Accuracy,report,X_test,y_test,cm

def logistic(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LogisticRegression
        classifier = LogisticRegression(random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      
    
def svm_linear(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'linear', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def svm_NL(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'rbf', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
   
def Navie(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.naive_bayes import GaussianNB
        classifier = GaussianNB()
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm         
    
    
def knn(X_train,y_train,X_test):
           
        # Fitting K-NN to the Training set
        from sklearn.neighbors import KNeighborsClassifier
        classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
def Decision(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.tree import DecisionTreeClassifier
        classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      


def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def selectk_Classification(acclog,accsvml,accsvmnl,accknn,accnav,accdes,accrf): 
    
    dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Logistic','SVMl','SVMnl','KNN','Navie','Decision','Random'])
    for number,idex in enumerate(dataframe.index):      
        dataframe.loc[idex, "Logistic"] = acclog[number]
        dataframe.loc[idex, "SVMl"] = accsvml[number]
        dataframe.loc[idex, "SVMnl"] = accsvmnl[number]
        dataframe.loc[idex, "KNN"] = accknn[number]
        dataframe.loc[idex, "Navie"] = accnav[number]
        dataframe.loc[idex, "Decision"] = accdes[number]
        dataframe.loc[idex, "Random"] = accrf[number]
    return dataframe

In [7]:
dataset.columns

Index(['College_ID', 'IQ', 'Prev_Sem_Result', 'CGPA', 'Academic_Performance',
       'Extra_Curricular_Score', 'Communication_Skills', 'Projects_Completed',
       'Internship_Experience_Yes', 'Placement_Yes'],
      dtype='object')

In [8]:
indep_X = dataset[['College_ID', 'IQ', 'Prev_Sem_Result', 'CGPA', 'Academic_Performance',
       'Extra_Curricular_Score', 'Communication_Skills', 'Projects_Completed',
       'Internship_Experience_Yes']]
dep_Y = dataset[['Placement_Yes']]

In [9]:
indep_X

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Internship_Experience_Yes
0,29,107.0,6.61,6.28,8,8,8,4,0
1,60,97.0,5.52,5.37,8,7,8,0,0
2,35,109.0,5.36,5.83,9,3,1,1,0
3,54,122.0,5.47,5.75,6,1,6,1,1
4,3,96.0,7.91,7.69,7,8,10,2,0
...,...,...,...,...,...,...,...,...,...
9995,20,119.0,8.41,8.29,4,1,8,0,0
9996,97,70.0,9.25,9.34,7,0,7,2,0
9997,65,89.0,6.08,6.25,3,3,9,5,1
9998,44,107.0,8.77,8.92,3,7,5,1,0
9999,59,109.0,9.41,9.77,8,3,5,5,0

In [40]:
kbest, selected_columns =selectkbest(indep_X,dep_Y,6)
kbest_selected_columns = pd.DataFrame(selected_columns)

acclog=[]
accsvml=[]
accsvmnl=[]
accknn=[]
accnav=[]
accdes=[]
accrf=[]


X_train, X_test, y_train, y_test=split_scalar(kbest,dep_Y)   
    
        
classifier,Accuracy,report,X_test,y_test,cm=logistic(X_train,y_train,X_test)
acclog.append(Accuracy)

classifier,Accuracy,report,X_test,y_test,cm=svm_linear(X_train,y_train,X_test)  
accsvml.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=svm_NL(X_train,y_train,X_test)  
accsvmnl.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=knn(X_train,y_train,X_test)  
accknn.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=Navie(X_train,y_train,X_test)  
accnav.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=Decision(X_train,y_train,X_test)  
accdes.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=random(X_train,y_train,X_test)  
accrf.append(Accuracy)
    
result=selectk_Classification(acclog,accsvml,accsvmnl,accknn,accnav,accdes,accrf)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [25]:
#2
print(result)
print(kbest_selected_columns)

          Logistic    SVMl   SVMnl    KNN  Navie Decision  Random
ChiSquare   0.8572  0.8404  0.8728  0.846  0.856   0.8636  0.8552
                      0
0                    IQ
1  Communication_Skills

In [30]:
#3
print(result)
print(kbest_selected_columns)

          Logistic    SVMl   SVMnl     KNN   Navie Decision  Random
ChiSquare   0.8576  0.8596  0.8752  0.8564  0.8652    0.852  0.8548
                      0
0                    IQ
1  Communication_Skills
2    Projects_Completed

In [34]:
#4
print(result)
print(kbest_selected_columns)

          Logistic    SVMl  SVMnl     KNN   Navie Decision Random
ChiSquare   0.9016  0.9028  0.976  0.9812  0.8996      1.0    1.0
                      0
0                    IQ
1                  CGPA
2  Communication_Skills
3    Projects_Completed

In [38]:
#5
print(result)
print(kbest_selected_columns)

          Logistic    SVMl   SVMnl     KNN   Navie Decision Random
ChiSquare    0.902  0.9004  0.9708  0.9792  0.9016      1.0    1.0
                      0
0                    IQ
1       Prev_Sem_Result
2                  CGPA
3  Communication_Skills
4    Projects_Completed

In [42]:
#6
print(result)
print(kbest_selected_columns)

          Logistic    SVMl   SVMnl     KNN   Navie Decision  Random
ChiSquare    0.902  0.8992  0.9612  0.9632  0.9032      1.0  0.9996
                      0
0                    IQ
1       Prev_Sem_Result
2                  CGPA
3  Academic_Performance
4  Communication_Skills
5    Projects_Completed