In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Student-Placement.csv")

In [3]:
dataset

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,CLG0030,107,6.61,6.28,8,No,8,8,4,No
1,CLG0061,97,5.52,5.37,8,No,7,8,0,No
2,CLG0036,109,5.36,5.83,9,No,3,1,1,No
3,CLG0055,122,5.47,5.75,6,Yes,1,6,1,No
4,CLG0004,96,7.91,7.69,7,No,8,10,2,No
...,...,...,...,...,...,...,...,...,...,...
9995,CLG0021,119,8.41,8.29,4,No,1,8,0,Yes
9996,CLG0098,70,9.25,9.34,7,No,0,7,2,No
9997,CLG0066,89,6.08,6.25,3,Yes,3,9,5,No
9998,CLG0045,107,8.77,8.92,3,No,7,5,1,No
9999,CLG0060,109,9.41,9.77,8,No,3,5,5,No

In [4]:
dataset.head()

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,CLG0030,107,6.61,6.28,8,No,8,8,4,No
1,CLG0061,97,5.52,5.37,8,No,7,8,0,No
2,CLG0036,109,5.36,5.83,9,No,3,1,1,No
3,CLG0055,122,5.47,5.75,6,Yes,1,6,1,No
4,CLG0004,96,7.91,7.69,7,No,8,10,2,No

In [5]:
dataset.tail()

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
9995,CLG0021,119,8.41,8.29,4,No,1,8,0,Yes
9996,CLG0098,70,9.25,9.34,7,No,0,7,2,No
9997,CLG0066,89,6.08,6.25,3,Yes,3,9,5,No
9998,CLG0045,107,8.77,8.92,3,No,7,5,1,No
9999,CLG0060,109,9.41,9.77,8,No,3,5,5,No

In [6]:
dataset.drop('College_ID', axis=1, inplace=True)
dataset

,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,107,6.61,6.28,8,No,8,8,4,No
1,97,5.52,5.37,8,No,7,8,0,No
2,109,5.36,5.83,9,No,3,1,1,No
3,122,5.47,5.75,6,Yes,1,6,1,No
4,96,7.91,7.69,7,No,8,10,2,No
...,...,...,...,...,...,...,...,...,...
9995,119,8.41,8.29,4,No,1,8,0,Yes
9996,70,9.25,9.34,7,No,0,7,2,No
9997,89,6.08,6.25,3,Yes,3,9,5,No
9998,107,8.77,8.92,3,No,7,5,1,No
9999,109,9.41,9.77,8,No,3,5,5,No

# Data Preprocessing

In [8]:
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [9]:
dataset

,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Internship_Experience_Yes,Placement_Yes
0,107,6.61,6.28,8,8,8,4,0,0
1,97,5.52,5.37,8,7,8,0,0,0
2,109,5.36,5.83,9,3,1,1,0,0
3,122,5.47,5.75,6,1,6,1,1,0
4,96,7.91,7.69,7,8,10,2,0,0
...,...,...,...,...,...,...,...,...,...
9995,119,8.41,8.29,4,1,8,0,0,1
9996,70,9.25,9.34,7,0,7,2,0,0
9997,89,6.08,6.25,3,3,9,5,1,0
9998,107,8.77,8.92,3,7,5,1,0,0
9999,109,9.41,9.77,8,3,5,5,0,0

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   IQ                         10000 non-null  int64
 1   Prev_Sem_Result            10000 non-null  float64
 2   CGPA                       10000 non-null  float64
 3   Academic_Performance       10000 non-null  int64
 4   Extra_Curricular_Score     10000 non-null  int64
 5   Communication_Skills       10000 non-null  int64
 6   Projects_Completed         10000 non-null  int64
 7   Internship_Experience_Yes  10000 non-null  int32
 8   Placement_Yes              10000 non-null  int32
dtypes: float64(2), int32(2), int64(5)
memory usage: 625.1 KB

In [11]:
dataset.isna().sum()

IQ                           0
Prev_Sem_Result              0
CGPA                         0
Academic_Performance         0
Extra_Curricular_Score       0
Communication_Skills         0
Projects_Completed           0
Internship_Experience_Yes    0
Placement_Yes                0
dtype: int64